* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    max-width: 1100px;
    padding: 0 2%;
    display: flex;
    margin: 0 20px;
}

header {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(138, 137, 137, 0.801));
    height: 60px;
    position: sticky;
    top: 0;
}

.logo {
    color: white;
    margin-top: 10px;
    margin-right: 50px;
}

.dragon {
    color: rgb(255, 0, 0);
    font-weight: 900;
}

.logo p {
    font-size: 0.7em;
    margin-left: 50px;
}

.menu {
    color: white;
    margin-top: 20px;
    margin-left: -40px;
}

.menu-container {
    width: 60%;
    justify-content: space-between;
}

.menu-container a {
    color: rgba(255, 255, 255, 0.705);
    display: inline-block;
    text-decoration: none;
    transition: 0.8s;
    margin: 0 10px;
}

.login {
    width: 0;
    height: 0;
}

.login a {
    color: rgba(255, 255, 255, 0.705);
    display: block;
    padding: 0 2px;
    margin-left: 350px;
    margin-top: 20px;
}

.main {
    min-height: 700px;
    background-image: url('img/fundo.png');
    background-size: cover;
    background-position: center;
}

.chamativo pre {
    color: white;
    position: absolute;
    font-family: cursive;
    font-size: 1.6em;
    bottom: 400px;
    left: 140px;
}

.chamativo img {
    position: absolute;
    margin: 0 0 0 700px;
    width: 600px;
    transform: rotate(8deg);
}

.chamativo span {
    color: rgb(255, 0, 0);
    font-weight: 900;
    font-family: cursive;
}

.chamativo h1 {
    color: white;
    position: absolute;
    display: flex;
    font-family: cursive;
    font-size: 1em;
    align-items: center;
    bottom: 370px;
    gap: 5px;
}

.section3 {
    color: white;
    position: absolute;
    display: flex;
    font-family: cursive;
    font-size: 1em;
    align-items: center;
    bottom: -10px;
    gap: 5px;
}


.section2 hr {
    width: 600px;
}

.section3 hr {
    width: 510px;
}

.episodios-container h3 {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid white;
    padding: 8px
}

.episodios-container {
    width: 100%;
    justify-content: space-around;
}

.episodios-sigle1 img {
    position: absolute;
    width: 15%;
    display: block;
    margin: 210px 0 0 0;
    left: 50px;
}

.episodios-sigle2 img {
    position: absolute;
    width: 15%;
    display: block;
    margin: 210px 0 0 30px;
    left: 231px;
}

.episodios-sigle3 img {
    position: absolute;
    width: 15%;
    display: block;
    margin: 210px 0 0 60px;
    left: 413px;
}

.episodios-sigle4 img {
    position: absolute;
    width: 15%;
    display: block;
    margin: 210px 0 0 90px;
    left: 596px;
}

.episodios-sigle5 img {
    position: absolute;
    width: 15%;
    display: block;
    margin: 210px 0 0 120px;
    left: 777px;
}

.episodios-sigle6 img {
    position: absolute;
    width: 15%;
    display: block;
    margin: 210px 0 0 120px;
    left: 986px;
}

#texto {
    color: white;
    position: absolute;
    font-size: 15px;
    left: 95px;
    top: 510px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(128, 128, 128, 0.664));
}

.esquerda {
    position: absolute;
    display: block;
    margin: 310px 0 0 0;
    left: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(128, 128, 128, 0.664));
}

.direita {
    position: absolute;
    display: block;
    margin: 308px 0 0 120px;
    left: 1179px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(128, 128, 128, 0.664));
}

