@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{background-image: linear-gradient(to right, #44BBA4, #95818D);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.692);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: blueviolet;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(209, 33, 33, 0.836);
}

h2{
    color: rgba(9, 201, 153, 0.795);
}
p{
    text-align: justify;
}